@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
  font-size: 1.5rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  color: #fff;
  padding: 1rem;
  height: 4rem;
  width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover{
    color:#BEBFC1;
  }
  .icon:hover{
    color: #57606a;
    font-size: 1rem;
  }
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#menuIcon {
  background: none;
  border: none;
  width: 25px;
  cursor: pointer;
  display: none;
}
#menuIcon:focus {
  outline: none;
}
#menuIcon span {
  display: block;
  width: 100%;
  background-color: #fff;
  height: 4px;
  margin-bottom: 5px;
  border-radius:2px ;
  -webkit-border-radius:2px ;
  -moz-border-radius:2px ;
  -ms-border-radius:2px ;
  -o-border-radius:2px ;
}
#searchIcon{
    display: none;
}
input {
    width: 22rem;
    height: 32px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 6px;
    background-color: black;
    border: 1.5px solid #57606a;
    color: #c6cdd5;
    font-weight: 600;
}
::placeholder {
    color: #c8c9cb;
    font-weight: 200;
    font-size: 0.8rem;
}
#start:hover{
    background-color:#c8c9cb;
    color: #1f2328;
    border: 1px solid ;
}
#search-one:hover{
    background-color:#2a2a2a;
    color:#c8c9cb;
    border: 1px solid ;
}
#search-two:hover{
    background-color:#2a2a2a;
    color:#c8c9cb;
    border: 1px solid ;
}
ul {
  display: flex;
  margin: 0;
}
.firstNav {
  list-style: none;
  margin: 0 0.7rem;
  font-weight: 500;
  font-size: 0.9rem;
}
main {
    padding: 1rem 0;
}
.container {
    text-align: center;
}
.secondUl {
    list-style: none;
    margin: 0 1rem;
    font-weight: 500;
    font-size: 0.9rem;
    justify-content: center;
    color: #1f2328;
}
img {
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 1px solid #d0d7de;
    background-color: #ffffff;
    margin: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.profile1 {
    display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#input-feild-one {
    background-color: #fff;
    width: 15rem;
    border: 1px solid #d0d7de;
    font-weight: 200;
    font-size: 1rem;
}
#input-feild-two {
    background-color: #fff;
    width: 15rem;
    border: 1px solid #d0d7de;
    font-weight: 200;
    font-size: 1rem;

}
#result1 {
    height: 3rem;
    margin: 1rem;
    font-size: 2rem;
}
#result2 {
    height: 3rem;
    margin: 1rem;
    font-size: 2rem;
}
.form {
  display: flex;
  justify-content: space-between;
}
#search-one {
    border-radius: 10px;
    border: 1px solid #d0d7de;
  font-size: 0.7rem;
  width: 3rem;
}
#search-two {
    border-radius: 10px;
    border: 1px solid #d0d7de;
    font-size: 0.7rem;
    width: 3rem;
}
#start {
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #d0d7de;
font-size: 1.2rem;
padding: 1rem;
margin-left: 47%;
margin-top: -2rem;
text-align: center;
border-radius: 200%;
width: 5rem;
height: 5rem;
background-color: #1f2328;
color: #e2e3e6;
}
@media (max-width: 768px) {
main {
padding: 1rem;
}
img {
width: 11rem;
height: 11rem;
}
#input-feild-one {
background-color: #fff;
width: 10rem;
border: 1px solid #d0d7de;
font-weight: 200;
padding: 1rem;
}
#input-feild-two {
background-color: #fff;
width: 10rem;
border: 1px solid #d0d7de;
font-weight: 200;
padding: 1rem;
}
p {
font-size: 1.2rem;
}
#start {
margin-left: 36%;
margin-top: 2rem;
}
.secondUl {
font-size: 0.7rem;
}
#menuIcon {
display: block;
}
.navList{
display: none;
}
input{
width: 75%;
}
#menuIcon {
    display: block;
    }
    .firstNav{
    display: block;
    }
    #inputPart{
    display:flex;
    justify-content: space-between;
    grid-area: 2px;
    }
    #input{
        width: 70%;
    }
    #search{
    width: 20%;
    font-size: .7rem;
    }
    nav{
    padding: 1rem;
    justify-content: space-between;
    }
    #list{
    width: 10%;
    }
    .open{
        color: #fff;
        background-color: #000000a3;
        pad: 20px;
        display: block;
        position: absolute;
        left: 0;
        top: 64px;
        width: 100%;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .open li{
    margin:10px 0 ;
    }
    .open li a{
    color: #fff;
    }
}
    @media (max-width: 426px) {
        #searchInput{
            display: none;
        }
        nav{
            justify-content: space-between;
        }
        #menuIcon {
            display: block;
            }
            .firstNav{
            display: none;
            }
            input{
            width: 75%;
            }
            #inputPart{
            display:flex;
            justify-content: space-between;
            grid-area: 2px;
            }
            #input{
                width: 70%;
            }
            #search{
            width: 20%;
            font-size: .7rem;
            }
            #searchIcon{
            display: block;
            height: 8%;
            width: 8%;
            }
            nav{
                padding: 1rem;
            justify-content: space-between;
            }
            #list{
            width: 10%;
            }
            .open{
                color: #fff;
                background-color: #000000a3;
                pad: 20px;
                display: block;
                position: absolute;
                left: 0;
                top: 64px;
                width: 100%;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            .open li{
            margin:10px 0 ;
            }
            .open li a{
            color: #fff;
            }
    }
    .dark main{
        background-color: #282C35;
        height: 100%;
    }
    #mode{
        background: none;
        border: none;
    }
    .dark #input-feild-one{
    box-shadow: 0px 5px 10px 0px ;  
    }
    .dark #input-feild-two{
    box-shadow: 0px 5px 10px 0px rgba(254, 254, 254, 0.7);  
    }
    .dark img{
    box-shadow: 0px 5px 10px 0px rgba(254, 254, 254, 0.7);  
    }
    .dark #start{
    background-color: #ecf2f8;
    color: #282C35;
    }
    .dark #result1{
    color: #d2e4f9;
    }
    .dark #result2{
    color: #d2e4f9;
    }
    .dark #nameUser1{
    color: #d2e4f9;
    }
    .dark #nameUser2{
    color: #d2e4f9;
    }
    .dark #numberofRepo1{
        color: #d2e4f9;
    }
.dark #numberofRepo2{
    color: #d2e4f9;
}
.dark .icon{
    color: #d2e4f9;
}
.dark hr{
    color: #d2e4f9;
}
.dark #myList .firstNav a{
    color: #d2e4f9;
}
.dark #github{
    color: #d2e4f9;
}